* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  max-width: 100%;
}
.all-wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}
img {
  max-width: 100%;
}

/* the top section */
.top {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.3rem;
  padding-top: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
.left-top {
  display: none;
  justify-content: space-between;
}
.left-top p {
  margin-left: 1.5rem;
}
.right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-top p {
  margin-right: 1.5rem;
}
.apps img {
  width: 4rem;
  padding: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.apps img:hover {
  border-radius: 50%;
  background-color: #f8f9fa;
}
.sign {
  background-color: #1a73e8;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 9px 23px;
  color: #fff;
  cursor: pointer;
}
.sign:hover {
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  background: #5094ed;
}
.sign a:hover {
  text-decoration: none;
}

/* the middle section */
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mic {
  width: 1.4rem;
  cursor: pointer;
}
.middle > div {
  width: fit-content;
}
.search-bar {
  display: flex;
  align-items: center;
  border: 0.1rem solid #dfe1e5;
  border-radius: 4rem;
  padding: 0.4rem;
  padding-right: 2rem;
  margin-top: 2rem;
  max-width: 95vw;
}
.search-bar:hover {
  box-shadow: 0 0.1rem 0.6rem rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
input {
  width: 50rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}
input:focus {
  outline: none;
}
.magnify {
  padding: 1rem;
  font-size: 1.5rem;
  color: #70757a;
  opacity: 0.5;
}
.buttons {
  display: flex;
  padding: 3rem;
}
.press {
  background-color: #f8f9fa;
  border: 0.1rem solid #f8f9fa;
  border-radius: 0.4rem;
  color: #3c4043;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.1rem 1.6rem;
  margin: 0 0.4rem;
  cursor: pointer;
}
.press:hover {
  border: 0.1rem solid #dadce0;
}
.languages {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2.8rem;
  color: #3c4043;
}
.languages span {
  color: #1a0dab;
  word-spacing: 1rem;
  cursor: pointer;
}

/* the bottom section */
.bottom {
  background-color: #f2f2f2;
}
.above {
  padding: 1.5rem 3rem;
  border-bottom: 0.1rem solid #dadce0;
  font-size: 1.5rem;
  color: #70757a;
}
.below {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: #70757a;
}
.below p {
  padding: 1.5rem;
}
.left {
  display: flex;
}
.center a {
  display: flex;
  justify-content: center;
}
.leaf {
  width: 1.4rem;
  margin-top: 1.4rem;
  margin-right: -1rem;
}
.right {
  display: flex;
}
.for-tablets {
  display: none;
  font-size: 1.4rem;
  padding: 1.5rem;
  color: #70757a;
}

/* Responsive Design */
/* For Tablets */
@media (max-width: 868px) {
  .all-wrapper {
    justify-content: flex-start;
  }
  .top {
    justify-content: space-between;
  }
  .left-top {
    display: flex;
  }

  .middle {
    padding-top: calc(30% - 5rem);
  }
  .bottom {
    position: fixed;
    bottom: 0;
    width: 100vw;
  }

  .for-tablets {
    display: block;
  }
  .leaf {
    margin: 0 0.5rem;
  }
  .for-laptops {
    display: none;
  }
  .below {
    justify-content: space-around;
  }
}
/* For small-tablets */
@media (max-width: 668px) {
  .below {
    flex-direction: column;
  }
  .left,
  .right {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* For phones */
@media (max-width: 450px) {
  .top,
  .bottom {
    font-size: 2vw !important;
  }

  .languages span {
    display: block;
  }
}
